*{

box-sizing:border-box;

font-family:Arial;

}



body{

margin:0;

background:

linear-gradient(135deg,#050015,#37006b);

color:white;

}



.app{

max-width:430px;

margin:auto;

padding:20px;

text-align:center;

}



button{


width:100%;

padding:16px;

margin-top:20px;

border:0;

border-radius:20px;

background:

linear-gradient(90deg,#ff00cc,#3333ff);

color:white;

font-size:18px;

font-weight:bold;


}





.wheel-area{


position:relative;

margin-top:40px;


}



.pointer{


font-size:40px;

position:absolute;

top:-35px;

left:50%;

transform:translateX(-50%);

z-index:10;


}




#wheel{


width:300px;

height:300px;

margin:auto;

border-radius:50%;

overflow:hidden;


display:grid;

grid-template-columns:repeat(5,1fr);

grid-template-rows:repeat(2,1fr);



border:8px solid white;


transition:

transform 5s cubic-bezier(.17,.67,.12,.99);


}



#wheel div{


display:flex;

justify-content:center;

align-items:center;


font-size:20px;

font-weight:bold;


background:

linear-gradient(

135deg,

#8e2de2,

#4a00e0

);



border:1px solid white;


}





#result{


margin-top:30px;

font-size:28px;

color:#00ffcc;


}




.confetti{


position:fixed;

width:12px;

height:12px;

top:-20px;

animation:fall 3s linear;


}



@keyframes fall{


0%{

transform:

translateY(0)

rotate(0deg);

}


100%{


transform:

translateY(100vh)

rotate(720deg);


}


}
