*{

box-sizing:border-box;

font-family:Arial;

}



body{

margin:0;

background:

linear-gradient(135deg,#050014,#30006b);

color:white;

}




.app{

max-width:430px;

margin:auto;

padding:20px;

}



.hide{

display:none;

}



#login{

margin-top:80px;

text-align:center;

background:#ffffff15;

padding:30px;

border-radius:25px;

}



h1{

text-align:center;

}




button{

width:100%;

padding:15px;

margin-top:15px;

border:0;

border-radius:18px;

background:

linear-gradient(90deg,#8b2cff,#00c8ff);

color:white;

font-size:17px;

font-weight:bold;

}




.card,
.wallet{


margin-top:20px;

padding:20px;

border-radius:22px;

background:#ffffff12;

text-align:center;


}




input{


width:100%;

padding:14px;

margin-top:10px;

border-radius:12px;

border:0;

}





#wheel{


width:240px;

height:240px;

margin:20px auto;

border-radius:50%;

overflow:hidden;

display:flex;

flex-wrap:wrap;

transition:4s;


}




#wheel div{


width:50%;

height:50%;

display:flex;

align-items:center;

justify-content:center;

background:#8b2cff;

border:1px solid white;

font-size:25px;


}




#spinMsg,
#mineMsg,
#sendMsg{


margin-top:15px;

font-size:17px;

}
