body{

margin:0;

font-family:Arial;

background:#09001f;

color:white;

}



.app{

max-width:420px;

margin:auto;

padding:20px;

}



#login{

text-align:center;

margin-top:80px;

background:#ffffff10;

padding:30px;

border-radius:20px;

}



button{

width:100%;

padding:15px;

margin-top:15px;

border:0;

border-radius:15px;

background:#8a2be2;

color:white;

font-size:18px;

}



.card,.wallet{

background:#ffffff15;

padding:20px;

margin-top:20px;

border-radius:20px;

text-align:center;

}



#wheel{

font-size:80px;

margin:20px;

}
