*{

box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

margin:0;

background:
linear-gradient(135deg,#12002b,#31006b,#080018);

color:white;

min-height:100vh;

}




.app{

max-width:420px;

margin:auto;

padding:20px;

}






h1{

text-align:center;

font-size:32px;

margin-top:20px;

color:#d7b4ff;

}





p{

text-align:center;

color:#ccc;

}





button{


width:100%;

padding:15px;

margin:10px 0;

border:none;

border-radius:15px;

font-size:16px;

font-weight:bold;

cursor:pointer;


background:

linear-gradient(135deg,#9b5cff,#5b00ff);


color:white;


box-shadow:

0 5px 20px rgba(155,92,255,.5);


}





button:active{

transform:scale(.96);

}





button:disabled{

opacity:.5;

}





.hide{

display:none;

}






.wallet{


background:

rgba(255,255,255,.12);


backdrop-filter:blur(10px);


border-radius:25px;


padding:20px;


margin-top:20px;


text-align:center;


border:

1px solid rgba(255,255,255,.2);


}



#wallet{

font-size:13px;

color:#aaa;

}



#balance{

font-size:35px;

color:#00ffcc;

}







.card{


background:

rgba(255,255,255,.1);


backdrop-filter:blur(15px);


border-radius:25px;


padding:20px;


margin-top:20px;


border:

1px solid rgba(255,255,255,.15);


}








.wheel-box{


position:relative;


width:260px;


height:260px;


margin:20px auto;


}




#wheel{


width:260px;


height:260px;


border-radius:50%;


background:

conic-gradient(

#ffcc00 0deg 60deg,

#ff6699 60deg 120deg,

#33ccff 120deg 180deg,

#66ff66 180deg 240deg,

#cc66ff 240deg 300deg,

#ff6633 300deg 360deg

);


display:flex;


align-items:center;


justify-content:center;


transition:4s;


border:

8px solid white;


box-shadow:

0 0 30px #9b5cff;


}





.segment{


display:none;

}





.pointer{


position:absolute;


top:-15px;


left:50%;


transform:translateX(-50%);


font-size:35px;


color:white;


}







.menu{


position:fixed;


bottom:15px;


left:50%;


transform:translateX(-50%);


width:90%;


max-width:390px;


display:flex;


gap:10px;


background:

rgba(0,0,0,.4);


backdrop-filter:blur(10px);


padding:10px;


border-radius:20px;


}





.menu button{


margin:0;


padding:12px;


font-size:13px;


background:

rgba(155,92,255,.8);


}





#mineMsg{


font-size:18px;

color:#00ffcc;

font-weight:bold;


}





#spinMsg{


color:#ffd700;

font-size:18px;


}
