*{

box-sizing:border-box;

font-family:Arial,sans-serif;

}



body{


margin:0;


background:

linear-gradient(135deg,#12002b,#31006b,#05000d);


color:white;


min-height:100vh;


}





.app{


max-width:430px;


margin:auto;


padding:20px;


padding-bottom:100px;


}






h1{


text-align:center;


color:#dcb8ff;


font-size:32px;


}



h2{


text-align:center;


}




p{


text-align:center;


color:#ddd;


}





button{


width:100%;


padding:15px;


margin:8px 0;


border:none;


border-radius:16px;


font-size:16px;


font-weight:bold;


color:white;



background:

linear-gradient(135deg,#a855f7,#5b00ff);



box-shadow:

0 5px 20px rgba(168,85,247,.5);


cursor:pointer;


}





button:active{


transform:scale(.96);


}





button:disabled{


opacity:.5;


}





.hide{


display:none;


}







.wallet{


margin-top:20px;


padding:20px;


border-radius:25px;


background:

rgba(255,255,255,.12);



backdrop-filter:blur(10px);


text-align:center;


border:

1px solid rgba(255,255,255,.2);


}





#wallet{


color:#aaa;


font-size:14px;


}




#balance{


font-size:38px;


color:#00ffcc;


}







.card{


margin-top:20px;


padding:20px;


border-radius:25px;


background:

rgba(255,255,255,.1);



backdrop-filter:blur(15px);


border:

1px solid rgba(255,255,255,.2);


}





#mineMsg{


font-size:18px;


color:#00ffcc;


font-weight:bold;


}







input{


width:100%;


padding:15px;


margin:8px 0;


border-radius:15px;


border:none;


font-size:16px;


outline:none;


}








/* WHEEL */


.wheel-box{


position:relative;


width:260px;


height:260px;


margin:25px auto;


}




#wheel{


width:260px;


height:260px;


border-radius:50%;



background:

conic-gradient(

#ffcc00 0deg 60deg,

#ff6699 60deg 120deg,

#33ccff 120deg 180deg,

#66ff66 180deg 240deg,

#cc66ff 240deg 300deg,

#ff6633 300deg 360deg

);



position:relative;


transition:4s cubic-bezier(.17,.67,.15,1);



border:8px solid white;


box-shadow:

0 0 30px #a855f7;



overflow:hidden;



}







.segment{


position:absolute;


width:50%;


height:50%;


left:50%;


top:50%;


transform-origin:0% 0%;


display:flex;


justify-content:center;


align-items:center;


font-size:18px;


font-weight:bold;


color:white;


text-shadow:

0 2px 5px black;


}





.s1{

transform:rotate(0deg) translate(70px);

}



.s2{

transform:rotate(60deg) translate(70px);

}



.s3{

transform:rotate(120deg) translate(70px);

}



.s4{

transform:rotate(180deg) translate(70px);

}



.s5{

transform:rotate(240deg) translate(70px);

}



.s6{

transform:rotate(300deg) translate(70px);

}






.pointer{


position:absolute;


top:-20px;


left:50%;


transform:translateX(-50%);



font-size:40px;


z-index:5;


}








.menu{


position:fixed;


bottom:15px;


left:50%;


transform:translateX(-50%);



width:90%;


max-width:400px;


display:flex;


gap:10px;


padding:10px;


background:

rgba(0,0,0,.5);



backdrop-filter:blur(10px);



border-radius:20px;


}





.menu button{


margin:0;


font-size:13px;


padding:12px;


}
